* {
  box-sizing: border-box; }

body, dl, dt, dd, ul, li, table {
  margin: 0px;
  padding: 0px; }

ul, li {
  list-style-type: none; }

table {
  border-collapse: collapse; }

.clearfloat {
  clear: both; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both;
  /* For IE 6/7 (trigger hasLayout) */ }

.clearfix {
  zoom: 1; }

a {
  /*IE outline*/
  outline: none;
  /* for Firefox */
  hlbr: expression(this.onFocus=this.blur());
  /* for IE */ }

a img {
  border: none;
  vertical-align: middle; }

/* ******* ******* ******* ******* ******* ******* ******* */
/*ornament: blue*/
/*ornament: orange*/
/* ******* ******* ******* ******* ******* ******* ******* */
/* ******* ******* ******* ******* ******* ******* ******* */
/* ******* ******* ******* ******* ******* ******* ******* */
body {
  font-family: Arial, Helvetica, sans-serif, "Microsoft YaHei", "Microsoft JhengHei", "SimSun";
  font-size: 14px;
  line-height: 1.2em;
  background-color: #35aa37;
  letter-spacing: .08em; }

/* ******* ******* ******* ******* ******* ******* ******* */
/* ******* ******* ******* ******* ******* ******* ******* */
/* UI      ******* ******* ******* ******* ******* ******* */
.topcontrol {
  background-image: url(../images/gotop.png);
  background-position: 0px 0px;
  width: 15px;
  height: 20px;
  overflow: hidden;
  text-indent: -1000px; }
  .topcontrol:hover {
    background-position: 0px -20px; }

.content {
  width: 960px;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  padding-right: 10px;
  padding-left: 10px; }

a {
  color: #00C; }
  a:hover {
    color: #86673a; }

.img-center {
  display: block;
  margin: 10px auto; }

input {
  border-radius: 4px;
  border: 1px solid #999;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif, "Microsoft YaHei", "Microsoft JhengHei", "SimSun";
  vertical-align: middle;
  padding: 4px 4px 4px 4px; }

input[type=radio], input[type=checkbox], input[type=file] {
  border: none;
  background-color: transparent; }

select {
  border-radius: 4px;
  border: 1px solid #999;
  font-size: 1em;
  font-family: Arial, Helvetica, sans-serif, "Microsoft YaHei", "Microsoft JhengHei", "SimSun";
  vertical-align: middle;
  padding: 2px 4px 5px 4px;
  padding: 0px 0px 0px 4px\9;
  height: 28px\9; }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  /* IE10+ specific styles go here */
  select {
    padding: 0px 0px 0px 4px;
    height: 28px; } }
input.empty {
  color: #999; }

.floatleft {
  float: left; }

.floatright {
  float: right; }

.BgWhite {
  background-color: #ffffff; }

.subtitle {
  color: #86673a;
  font-weight: bold; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-block {
  display: block; }

/*text color*/
.textRed {
  color: #C00; }

.textBlue {
  color: #0d8ace; }

.textGreen, .textMain {
  color: #0b903d; }

.textOrange, .textOrnament {
  color: #ec6711; }

.textBold {
  font-weight: bold; }

.textDotted {
  background-image: url(../images/textDotted.jpg); }

/*Btn*/
.normalBtn, .page a, a.normalBtn, .page a {
  border-radius: 5px;
  text-decoration: none;
  padding: 4px 10px;
  border: none;
  font-family: Arial, Helvetica, sans-serif, "Microsoft YaHei", "Microsoft JhengHei", "SimSun";
  letter-spacing: .08em;
  height: auto;
  /*white / HOVER main*/
  /*maindark / HOVER orange*/
  /*main / HOVER maindark*/
  /*main / HOVER orange*/
  /*orange / HOVER orange*/ }
  .normalBtn:hover, .page a:hover, a.normalBtn:hover, .page a:hover {
    cursor: pointer; }
  .normalBtn.style1, .page a.style1, a.normalBtn.style1, .page a.style1 {
    background-color: #FFF;
    color: #007b42; }
    .normalBtn.style1:hover, .page a.style1:hover, a.normalBtn.style1:hover, .page a.style1:hover {
      background-color: #007b42;
      color: #FFF; }
  .normalBtn.style2, .page a, a.normalBtn.style2, .page a {
    background-color: #007b42;
    color: #FFF; }
    .normalBtn.style2:hover, .page a:hover, a.normalBtn.style2:hover, .page a:hover {
      background-color: #c4ae55;
      color: #fff; }
  .normalBtn.style3, .page a.style3, a.normalBtn.style3, .page a.style3 {
    background-color: #35aa37;
    color: #FFF; }
    .normalBtn.style3:hover, .page a.style3:hover, a.normalBtn.style3:hover, .page a.style3:hover {
      background-color: #007b42;
      color: #fff; }
  .normalBtn.style4, .page a.style4, a.normalBtn.style4, .page a.style4 {
    background-color: #35aa37;
    color: #FFF; }
    .normalBtn.style4:hover, .page a.style4:hover, a.normalBtn.style4:hover, .page a.style4:hover {
      background-color: #c4ae55;
      color: #fff; }
  .normalBtn.style4, .page a.style4, a.normalBtn.style4, .page a.style4 {
    background-color: #c4ae55;
    color: #FFF; }
    .normalBtn.style4:hover, .page a.style4:hover, a.normalBtn.style4:hover, .page a.style4:hover {
      background-color: #86673a;
      color: #fff; }
  .normalBtn.big, .page a.big, a.normalBtn.big, .page a.big {
    padding: 8px 15px;
    margin: 8px 0px;
    font-size: 120%; }
  .normalBtn[disabled], .page a[disabled], .normalBtn[disabled]:hover, .page a[disabled]:hover, a.normalBtn[disabled], .page a[disabled], a.normalBtn[disabled]:hover, .page a[disabled]:hover {
    background-color: #ccc;
    cursor: text; }
  .normalBtn.linkBtn, .page a.linkBtn, a.normalBtn.linkBtn, .page a.linkBtn {
    background-image: url(../images/arrow-down-white.png);
    background-repeat: no-repeat;
    background-position: right 7px center;
    background-position-x: 96% \9;
    background-position-y: center \9;
    padding-right: 21px; }

/*searchTools*/
.searchTools {
  background-color: #ebebeb;
  padding: 10px 5px;
  border: 1px solid #E0E0E0;
  margin-bottom: -5px; }

/*page*/
.page {
  padding-top: 10px;
  padding-bottom: 10px;
  /*text-align: center;*/
  font-size: 0.85em; }
  .page a[disabled], .page a[disabled]:hover {
    background-color: #ebebeb;
    color: #ccc;
    cursor: text; }

/*icon*/
.icon {
  float: left;
  height: 48px;
  width: 48px;
  background-image: url(../images/icon.png);
  background-repeat: no-repeat; }
  .icon.icon01 {
    background-position: 0px 0px; }
  .icon.icon02 {
    background-position: -48px 0px; }
  .icon.icon03 {
    background-position: -96px 0px; }
  .icon.icon04 {
    background-position: -144px 0px; }
  .icon.icon05 {
    background-position: -192px 0px; }
  .icon.icon06 {
    background-position: 0px -48px; }
  .icon.icon07 {
    background-position: -48px -48px; }
  .icon.icon08 {
    background-position: -96px -48px; }
  .icon.icon09 {
    background-position: -144px -48px; }
  .icon.icon10 {
    background-position: -192px -48px; }
  .icon.icon11 {
    background-position: 0px -96px; }
  .icon.icon12 {
    background-position: -48px -96px; }
  .icon.icon13 {
    background-position: -96px -96px; }
  .icon.icon14 {
    background-position: -144px -96px; }
  .icon.icon15 {
    background-position: -192px -96px; }
  .icon.icon16 {
    background-position: 0px -144px; }
  .icon.icon17 {
    background-position: -48px -144px; }
  .icon.icon18 {
    background-position: -96px -144px; }
  .icon.icon19 {
    background-position: -144px -144px; }
  .icon.icon20 {
    background-position: -192px -144px; }
  .icon.icon21 {
    background-position: 0px -192px; }
  .icon.icon22 {
    background-position: -48px -192px; }
  .icon.icon23 {
    background-position: -96px -192px; }
  .icon.icon24 {
    background-position: -144px -192px; }
  .icon.icon25 {
    background-position: -192px -192px; }
  .icon.icon26 {
    background-position: 0px -240px; }
  .icon.icon27 {
    background-position: -48px -240px; }
  .icon.icon28 {
    background-position: -96px -240px; }
  .icon.icon29 {
    background-position: -144px -240px; }
  .icon.icon30 {
    background-position: -192px -240px; }
  .icon .icon31 {
    background-position: 0px -288px; }
  .icon.icon32 {
    background-position: -48px -288px; }
  .icon.icon33 {
    background-position: -96px -288px; }
  .icon.icon34 {
    background-position: -144px -288px; }
  .icon.icon35 {
    background-position: -192px -288px; }

/**/
.tableTRColor tr:nth-child(odd) td {
  background-color: #F5F5F5; }
.tableTRColor tr:hover td {
  background-color: #fbeeda; }

table th, table td {
  padding: 6px 5px;
  line-height: 1.2em; }

table td {
  color: #555; }

.table0 > tbody > tr > td {
  border-color: #FFF; }

.table1 {
  /*th-td-td*/
  border-top: 2px solid #007b42; }
  .table1.withNoTopBorder {
    border-top: none; }
  .table1 th {
    background-color: #f2f8ea;
    border-bottom: 1px solid #E0E0E0;
    text-align: right; }
    .table1 th.thTitle {
      background-color: #35aa37;
      color: #FFF;
      text-align: left;
      font-size: 110%;
      border-top: 2px solid #007b42; }
  .table1 td {
    border-bottom: 1px solid #E0E0E0; }

.table2 {
  /*th-th-th*/
  border-top: 2px solid #007b42; }
  .table2.withNoTopBorder {
    border-top: none; }
  .table2 th {
    border: 1px solid #E0E0E0;
    background-color: #f2f8ea;
    text-align: left; }
  .table2 td {
    border: 1px solid #E0E0E0; }

/* ******* ******* ******* ******* ******* ******* ******* */
/* ******* ******* ******* ******* ******* ******* ******* */
/* TEMPLATE        ******* ******* ******* ******* ******* */
.head {
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #007b42;
  font-weight: bold;
  background-image: url(../images/headBg.jpg);
  background-position: center top; }
  .head a {
    color: #007b42;
    text-decoration: none; }
    .head a:hover {
      color: #FFF; }
  .head a.homeBtn {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(../images/home.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    text-indent: -9999px;
    overflow: hidden;
    vertical-align: middle; }
    .head a.homeBtn:hover {
      background-position: 0px -25px; }
  .head .accountTools-btn {
    position: relative;
    z-index: 1000; }
    .head .accountTools-btn:hover {
      border-radius: 5px 5px 0px 0px; }
    .head .accountTools-btn:hover .accountTools-toggle {
      display: block; }
  .head .accountTools-toggle {
    display: none;
    position: absolute;
    width: 100%;
    left: 0px;
    margin-top: -8px;
    text-align: center;
    background-color: #f2f8ea;
    border: 1px solid #007b42;
    color: #007b42;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); }
    .head .accountTools-toggle li {
      border-bottom: 1px solid #007b42; }
      .head .accountTools-toggle li:last-child {
        border-bottom: none; }
      .head .accountTools-toggle li a {
        line-height: 1em;
        padding: 8px 10px;
        display: block;
        color: #007b42;
        text-decoration: none; }
        .head .accountTools-toggle li a:hover {
          background-color: #35aa37;
          color: #FFF; }

/**/
.top {
  width: 100%;
  height: 200px;
  background-image: url(../images/banner.jpg);
  background-position: center top; }
  .top .banner {
    height: 130px; }
    .top .banner a {
      width: 960px;
      height: 130px;
      display: block;
      text-indent: -1000px;
      overflow: hidden;
      background-image: url(../images/bannerLogo.png);
      background-repeat: no-repeat; }
  .top .forNav {
    background-image: url(../images/forNavBg.png);
    background-repeat: repeat-x; }
  .top .navigation {
    height: 70px;
    position: relative;
    zoom: 1; }
    .top .navigation li {
      width: 160px;
      height: 100%;
      float: left;
      background-image: url(../images/navigation.png);
      background-repeat: no-repeat;
      position: relative;
      /*hover*/ }
      .top .navigation li a {
        width: 100%;
        height: 100%;
        display: block;
        text-indent: -1000px;
        overflow: hidden; }
      .top .navigation li.news {
        background-position: 0px 0px; }
      .top .navigation li.aptitude {
        background-position: -160px 0px; }
      .top .navigation li.interest {
        background-position: -320px 0px; }
      .top .navigation li.report {
        background-position: -480px 0px; }
      .top .navigation li.studentData {
        background-position: -640px 0px; }
      .top .navigation li.workvalue {
        background-position: -800px 0px; }
      .top .navigation li.news:hover {
        background-position: 0px -140px; }
      .top .navigation li.aptitude:hover {
        background-position: -160px -140px; }
      .top .navigation li.interest:hover {
        background-position: -320px -140px; }
      .top .navigation li.report:hover {
        background-position: -480px -140px; }
      .top .navigation li.studentData:hover {
        background-position: -640px -140px; }
      .top .navigation li.workvalue:hover {
        background-position: -800px -140px; }
    .top .navigation .goStudent {
      background-image: url(../images/goStudent-shadow.png);
      background-repeat: no-repeat;
      background-position: center bottom;
      position: absolute;
      bottom: 60px;
      right: 0px;
      width: 130px;
      height: 119px; }
      .top .navigation .goStudent > a {
        display: block;
        width: 130px;
        height: 116px;
        background-image: url(../images/goStudent.png);
        background-position: 0px 0px;
        text-indent: -9999px;
        overflow: hidden;
        margin-top: -3px;
        -webkit-transition: -webkit-transform 0.3s linear;
        -moz-transition: -moz-transform 0.3s linear;
        -o-transition: -o-transform 0.3s linear;
        transition: transform 0.3s linear; }
        .top .navigation .goStudent > a:hover {
          background-position: 0px -150px;
          -webkit-transform: translate(0px, 4px);
          -moz-transform: translate(0px, 4px);
          -o-transform: translate(0px, 4px);
          transform: translate(0px, 4px); }

/**/
.main {
  height: auto;
  background-color: #fffeec; }

/**/
.forFooter {
  /*use in #main*/
  width: 100%;
  height: 137px;
  /*background-color:$color_main_dark1;*/
  background-image: url(../images/forFooter.png); }

.footer {
  width: 100%;
  height: auto;
  color: #FFF;
  font-size: 95%;
  text-align: center;
  /*border-top:1px solid #FFF;*/ }
  .footer a {
    color: #FFF; }
  .footer .footer1 {
    padding: 10px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #0c7cb9 \9; }
  .footer .footer2 {
    padding: 10px 0px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-top: 1px solid #2696d3 \9;
    letter-spacing: 1px; }

/**/
.forMenu {
  position: absolute;
  height: 40px;
  width: 100%;
  z-index: 1;
  background-color: #0b903d; }
  .forMenu .menu_news {
    /*use in marquee*/
    line-height: 40px;
    font-size: 110%;
    color: #FFF; }

.menu_bg {
  width: 100%;
  height: 40px; }

.menu {
  width: 100%;
  height: 40px;
  margin: 0px;
  padding: 0px;
  list-style-type: none; }
  .menu li {
    width: 120px;
    height: 40px;
    padding: 0px;
    margin: 0px;
    float: left; }
    .menu li table {
      width: 100%;
      height: 100%; }
      .menu li table th, .menu li table td {
        margin: 0px;
        padding: 0px; }
      .menu li table dl {
        width: 100%;
        height: auto;
        margin: 0px;
        padding: 0px;
        border: none;
        text-align: center; }
        .menu li table dl dt a {
          display: block;
          line-height: 32px;
          font-size: 110%;
          border: 4px solid #0b903d;
          border-radius: 10px;
          color: #FFF;
          text-decoration: none; }
        .menu li table dl dt a:hover {
          background-color: #FFF;
          color: #007b42; }
        .menu li table dl dd {
          display: none; }
          .menu li table dl dd a {
            border-left: 4px solid #0b903d;
            border-right: 4px solid #0b903d;
            display: block;
            height: 30px;
            line-height: 30px;
            background-color: #FFF;
            color: #333;
            text-decoration: none; }
          .menu li table dl dd.last a {
            border-bottom: 4px solid #0b903d;
            border-radius: 0px 0px 10px 10px;
            height: 34px; }
          .menu li table dl dd a:hover {
            color: #c4ae55; }
  .menu li:hover dl:hover dt.withdd a, .menu li:hover dl:hover dt.withdd a:hover {
    border-bottom: 1px dashed #333;
    border-radius: 10px 10px 0px 0px;
    background-color: #FFF;
    color: #007b42;
    padding-bottom: 3px; }
  .menu li:hover dd {
    display: block; }

/* ******* ******* ******* ******* ******* ******* ******* */
/* ******* ******* ******* ******* ******* ******* ******* */
/*  ******* ******* ******* ******* ******* ******* */
.breadcrumbs {
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #777;
  font-size: 95%; }
  .breadcrumbs a {
    color: #666;
    text-decoration: none; }
    .breadcrumbs a:hover {
      color: #777;
      text-decoration: underline; }

/**/
.title {
  height: 48px;
  line-height: 48px;
  font-size: 180%;
  color: #007b42;
  position: relative; }

/**/
ul.content_block {
  margin: 0px;
  padding: 0px;
  height: auto; }
  ul.content_block > li {
    display: block;
    padding-top: 10px;
    /*padding:10px 0px 15px 0px;*/ }
    ul.content_block > li .block {
      height: 10px;
      font-size: 0px; }
      ul.content_block > li .block.bottomBG {
        height: 25px; }
    ul.content_block > li dl dt {
      height: 40px;
      line-height: 40px;
      font-size: 120%;
      color: #35aa37;
      font-weight: bold;
      position: relative;
      border-bottom: 2px solid #35aa37; }
      ul.content_block > li dl dt .dt1 {
        background-image: url(../images/spot_green.gif);
        background-repeat: no-repeat;
        background-position: left center;
        padding-left: 20px; }
    ul.content_block > li dl dd {
      font-size: 110%;
      line-height: 28px;
      color: #333;
      padding-top: 5px; }
      ul.content_block > li dl dd p {
        padding: 0px;
        margin: 0px;
        text-indent: 2em; }
      ul.content_block > li dl dd .forAlign_dd {
        padding-left: 20px;
        /*@extend .textDotted;*/ }

/* ******* ******* ******* ******* ******* ******* ******* */
/* ******* ******* ******* ******* ******* ******* ******* */
/* Default/******* ******* ******* ******* ******* ******* */
/* ******* ******* ******* ******* ******* ******* ******* */
/*ornament: blue*/
/*ornament: orange*/
/* ******* ******* ******* ******* ******* ******* ******* */
/* ******* ******* ******* ******* ******* ******* ******* */
/* default ******* ******* ******* ******* ******* ******* */
/*ad*/
/*#newsAD{
	margin-top:-10px;
	background-color:#FFF;
}*/
/*news Table*/
/*ul.content_block li.news{
	padding-top:0px;
}*/
/* ******* ******* ******* ******* ******* ******* ******* */
/* ******* ******* ******* ******* ******* ******* ******* */
/* news    ******* ******* ******* ******* ******* ******* */
.news_search {
  position: absolute;
  right: 0px;
  top: 0px;
  color: #333;
  font-size: 50%; }

.news_table {
  text-align: center; }
  .news_table th {
    border-bottom: 2px solid #ccc;
    color: #333; }
  .news_table td {
    border-bottom: 1px dashed #E0E0E0;
    padding: 6px 0px; }
  .news_table a {
    color: #06c; }
    .news_table a:hover {
      color: #86673a; }

.news_sort {
  font-size: 92%;
  display: inline-block;
  line-height: 1em;
  padding: 4px 8px;
  font-weight: bold;
  border: 1PX solid; }
  .news_sort.sys {
    border-color: #e84a46;
    color: #e84a46;
    background-color: #fce4e3;
    /*rgba(232,74,70,.15);*/ }
  .news_sort.inf {
    border-color: #6dc21f;
    color: #6dc21f;
    background-color: #e2f3d2;
    /*rgba(109,194,31,.2);*/ }
  .news_sort.test {
    border-color: #ff009c;
    color: #ff009c;
    background-color: #ffe6f5;
    /*rgba(255,0,156,.1);*/ }
  .news_sort.release {
    border-color: #1cbbd3;
    color: #1cbbd3;
    background-color: #ddf5f9;
    /*rgba(28,187,211,.15);*/ }

/* ******* ******* ******* ******* ******* ******* ******* */
/* ******* ******* ******* ******* ******* ******* ******* */
/* Login   ******* ******* ******* ******* ******* ******* */
table#login {
  margin: 0px auto;
  padding: 20px 0px;
  text-align: center;
  width: 300px; }
  table#login .login_textfield {
    width: 100%;
    /*height:40px;*/
    font-size: 1.2em;
    /*padding-top:8px\9;*/
    padding-top: 8px;
    padding-bottom: 8px; }
  table#login .login_btn {
    height: auto;
    width: 100%; }

/*:root table#login .login_textfield {
	padding-top:0px;
}*/
/* ******* ******* ******* ******* ******* ******* ******* */
/* ******* ******* ******* ******* ******* ******* ******* */
/* ******* ******* ******* ******* ******* ******* ******* */
/* ******* ******* ******* ******* ******* ******* ******* */
/* ******* ******* ******* ******* ******* ******* ******* */
.step {
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #999;
  margin-top: 5px;
  margin-bottom: 15px;
  background-image: url(../images/step_bg.png);
  background-repeat: no-repeat;
  background-position: center center; }
  .step img {
    vertical-align: text-bottom; }

/* ******* ******* ******* ******* ******* ******* ******* */
/* ******* ******* ******* ******* ******* ******* ******* */
/* ******* ******* ******* ******* ******* ******* ******* */
.QAtab ul.tabs {
  text-align: center; }
  .QAtab ul.tabs li {
    display: inline-block;
    margin: 0px .32em; }
  .QAtab ul.tabs li.active a {
    background-color: #c4ae55; }
.QAtab .tabs_container {
  padding: 0px 48px; }
  .QAtab .tabs_container .tabs_container {
    padding: 0px; }
.QAtab .tab_content_title {
  font-size: 115%;
  font-weight: bold;
  padding-bottom: 5px; }

.qaContent {
  margin-bottom: 20px; }
  .qaContent > ul.accordionPart > li {
    border-bottom: solid 1px #e3e3e3;
    width: 100%; }
    .qaContent > ul.accordionPart > li > .qa_title {
      background-image: url(../images/qa_q.png);
      background-repeat: no-repeat;
      background-position: left center;
      padding: 12px 0px 12px 35px;
      font-size: 110%;
      cursor: pointer;
      color: #35aa37; }
      .qaContent > ul.accordionPart > li > .qa_title:hover {
        color: #86673a; }
      .qaContent > ul.accordionPart > li > .qa_title.qa_title_on {
        color: #86673a;
        background-color: #fbeeda; }
      .qaContent > ul.accordionPart > li > .qa_title.exSample {
        background-image: url(../images/qa_ex.png); }
    .qaContent > ul.accordionPart > li > .qa_content {
      margin: 0px;
      color: #333;
      padding: 5px 0px 15px 52px;
      line-height: 1.8em;
      color: #666; }

/* ******* ******* ******* ******* ******* ******* ******* */
/* ******* ******* ******* ******* ******* ******* ******* */
/* ******* ******* ******* ******* ******* ******* ******* */
.sitemap {
  width: 100%;
  height: auto; }
  .sitemap a {
    display: block;
    width: 200px;
    margin: 0px 20px;
    text-decoration: none;
    text-align: left;
    padding: 0px 10px;
    box-sizing: border-box;
    color: #000;
    position: relative;
    border: 1px solid #999;
    border-radius: 5px; }
    .sitemap a > span {
      display: block;
      width: 25px;
      height: 100%;
      background-color: #999;
      border-radius: 0px 4px 4px 0px;
      position: absolute;
      top: 0px;
      right: 0px;
      background-image: url(../images/arrow-right-white.gif);
      background-repeat: no-repeat;
      background-position: center center;
      text-indent: -9999px;
      overflow: hidden; }
    .sitemap a.sitemap_bg.bg01 {
      background-color: #35aa37;
      color: #FFF; }
      .sitemap a.sitemap_bg.bg01:hover {
        background-color: #007b42; }
    .sitemap a.sitemap_bg.bg02 {
      background-color: #FC9; }
      .sitemap a.sitemap_bg.bg02:hover {
        background-color: #F96; }
    .sitemap a.sitemap_bg.bg03 {
      background-color: #CFF; }
      .sitemap a.sitemap_bg.bg03:hover {
        background-color: #3CF; }
    .sitemap a.sitemap_bg.bg04 {
      background-color: #FCC; }
      .sitemap a.sitemap_bg.bg04:hover {
        background-color: #F69; }
    .sitemap a.sitemap_bg.bg05 {
      background-color: #FFC; }
      .sitemap a.sitemap_bg.bg05:hover {
        background-color: #FF6; }
  .sitemap a:hover {
    border: 1px solid #333; }
    .sitemap a:hover > span {
      background-color: #333; }
  .sitemap a[disabled=disabled] > span {
    display: none; }
  .sitemap a[disabled=disabled]:hover {
    border: 1px solid #999; }
    .sitemap a[disabled=disabled]:hover.bg01 {
      background-color: #35aa37;
      color: #FFF; }
    .sitemap a[disabled=disabled]:hover.bg02 {
      background-color: #FC9; }
    .sitemap a[disabled=disabled]:hover.bg03 {
      background-color: #CFF; }
    .sitemap a[disabled=disabled]:hover.bg04 {
      background-color: #FCF; }
    .sitemap a[disabled=disabled]:hover.bg05 {
      background-color: #FFC; }
  .sitemap li {
    background-image: url(../images/sitemap_line.gif);
    background-repeat: no-repeat;
    padding-bottom: 10px; }
    .sitemap li ul li {
      padding-left: 240px; }
    .sitemap li.last_line {
      background-position: left bottom; }
      .sitemap li.last_line.lineTop {
        background-position: left top -972px; }

/* ******* ******* ******* ******* ******* ******* ******* */
/* ******* ******* ******* ******* ******* ******* ******* */
/* ******* ******* ******* ******* ******* ******* ******* */

/*# sourceMappingURL=styles.css.map */
