/*ornament: blue*/
$color_main: #BF0060;  
$color_main_dark1: #e99296;  
$color_main_dark2: #bf0060;	 
$color_main_dark3: #a50053;	 
$color_main_light: #f2f8ea;

$color_bg_light: #fffeec;

/*ornament: orange*/
$color_ornament_light: #35aa37;
$color_ornament_dark:  #0b903d;  
