@charset "utf-8";

a{text-decoration:none;}
body {
	background-color: #d6c179;
	background-image: url(../images/bg.jpg);
	background-position: center top;
	font-family: Arial, Helvetica, sans-serif, "Microsoft YaHei", "Microsoft JhengHei", "SimSun";
	font-size: 15px;	
}
.earthBg {
	width: 1000px;
	height: 920px;
	background-image: url(../images/earth.png);
	background-repeat: no-repeat;
	background-position: center top;
	margin: 0 auto;
	position: relative;
	
	.footer{ 
		width:100%;
		padding:5px 0px;
		text-align:center;
		text-shadow:1px 1px rgba(255,255,255,.25);
		position:absolute;
		bottom:0px;
		color:#333333;
	}
}
.itemBtn { 
	display: block;
	width: 280px;
	height: 280px;
	position: absolute;
	/*text-indent: -9999px;
	overflow: hidden;*/
	
	.itemBtn-block{
		width:228px;
		height:228px;
		position: absolute;	
		top:5px;
		right:5px;
		.sub-itemBtn {
			width:64px;
			height:64px;
			position:absolute;
			border-radius:50%;
			border:4px solid;
			text-align:center;
			line-height:56px;
			font-size:18px;
			letter-spacing:1px;
			background-color:#e1e9ec;
			box-shadow:inset 10px -10px 40px rgba(255,255,255,1);
			a{
				display:block;
				border-radius:50%;
			}
			a:hover { 
				color:#FFF;
				text-shadow:none;
			}
		}
	}
	
	&.case1{
		.sub-itemBtn{
			&.sub1{
				bottom:-64px;
				left:50%;
				margin-left:-32px;
			}
		}
	}
	&.case2{
		.sub-itemBtn{
			&.sub1{
				bottom:-64px;
				left:33%;
				margin-left:-32px;
				margin-bottom:5px;
			}
			&.sub2{
				bottom:-64px;
				left:66%;
				margin-left:-32px;
				margin-bottom:5px;
			}
		}
	}
	&.case3{
		.sub-itemBtn{
			&.sub1{
				bottom:-64px;
				left:20%;
				margin-left:-32px;
				margin-bottom:15px;
			}
			&.sub2{
				bottom:-64px;
				left:50%;
				margin-left:-32px;
			}
			&.sub3{
				bottom:-64px;
				left:80%;
				margin-left:-32px;
				margin-bottom:15px;
			}
		}
	}
	
	&.assessment {
		background-image: url(../images/assessment.png);
		top: 270px;
		left: 0;
		margin-left: 60px;
		
		.sub-itemBtn {
			border-color:#36b4dc;
			a{color:#36b4dc;}
			a:hover{background-color:#36b4dc;}
		}
	}
	&.analysis {
		background-image: url(../images/analysis.png);
		top: 460px;
		left: 50%;
		margin-left: -160px;
		
		.sub-itemBtn {
			border-color:#dc4a9b;
			a{color:#dc4a9b; text-shadow:1px 1px #FFF;}
			a:hover{background-color:#dc4a9b;}
		}
	}
	&.information {
		background-image: url(../images/information.png);
		top: 270px;
		right: 0px;
		margin-right: 100px;
		
		.sub-itemBtn {
			border-color:#4f4da1;
			a{color:#4f4da1;}
			a:hover{background-color:#4f4da1;}
		}
	}
}	

/**/
