/*ornament: blue*/
$color_main: #35aa37;  
$color_main_dark1: #0b903d;  
$color_main_dark2: #0b903d;	 
$color_main_dark3: #007b42;	 
$color_main_light: #f2f8ea;

$color_bg_light: #fffeec;

/*ornament: orange*/
$color_ornament_light: #c4ae55;
$color_ornament_dark:  #86673a;  
