*{
	box-sizing:border-box;
}
body, dl, dt, dd, ul, li, table {
	margin: 0px;
	padding: 0px;
}
ul, li {
	list-style-type: none;
}
table {
	border-collapse: collapse;
}
.clearfloat {
	clear: both;
}
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both; /* For IE 6/7 (trigger hasLayout) */
}
.clearfix {
	zoom: 1;
}
a {/*IE outline*/
	outline: none;/* for Firefox */
 hlbr: expression(this.onFocus=this.blur());/* for IE */
}
a img {
	border: none;
	vertical-align: middle;
}
