.defaultAD {
	margin-top:-20px;
	.bd{ 
	
		.adpic{ 
			
			.info {
				width:100%;
				height:380px;
				background-position:center top;
				display:none;
			}
			.on {
				display:block;
			}
			a{ 
				display:block;
				max-width:960px;
				height:100%;
				margin:0px auto;
				
			}
		}
		.ad{ 
			> ul{ 
				height:auto;
				display:table;
				margin:-20px auto 0px auto;
				
				> li{
					width:14px;
					height:14px;
					float:left;
					margin:0px 2px;
					border-radius:50%;
					cursor:pointer;
					background-color:#ccc;
					
					&:hover {
						background-color:#666;
					}
					
					&.on{
						background-color:#ef9911;
					}
				}
			}
		}
	}
}