a {
  text-decoration: none; }

body {
  background-color: #d6c179;
  background-image: url(../images/bg.jpg);
  background-position: center top;
  font-family: Arial, Helvetica, sans-serif, "Microsoft YaHei", "Microsoft JhengHei", "SimSun";
  font-size: 15px; }

.earthBg {
  width: 1000px;
  height: 920px;
  background-image: url(../images/earth.png);
  background-repeat: no-repeat;
  background-position: center top;
  margin: 0 auto;
  position: relative; }
  .earthBg .footer {
    width: 100%;
    padding: 5px 0px;
    text-align: center;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.25);
    position: absolute;
    bottom: 0px;
    color: #333333; }

.itemBtn {
  display: block;
  width: 280px;
  height: 280px;
  position: absolute;
  /*text-indent: -9999px;
  overflow: hidden;*/ }
  .itemBtn .itemBtn-block {
    width: 228px;
    height: 228px;
    position: absolute;
    top: 5px;
    right: 5px; }
    .itemBtn .itemBtn-block .sub-itemBtn {
      width: 64px;
      height: 64px;
      position: absolute;
      border-radius: 50%;
      border: 4px solid;
      text-align: center;
      line-height: 56px;
      font-size: 18px;
      letter-spacing: 1px;
      background-color: #e1e9ec;
      box-shadow: inset 10px -10px 40px white; }
      .itemBtn .itemBtn-block .sub-itemBtn a {
        display: block;
        border-radius: 50%; }
      .itemBtn .itemBtn-block .sub-itemBtn a:hover {
        color: #FFF;
        text-shadow: none; }
  .itemBtn.case1 .sub-itemBtn.sub1 {
    bottom: -64px;
    left: 50%;
    margin-left: -32px; }
  .itemBtn.case2 .sub-itemBtn.sub1 {
    bottom: -64px;
    left: 33%;
    margin-left: -32px;
    margin-bottom: 5px; }
  .itemBtn.case2 .sub-itemBtn.sub2 {
    bottom: -64px;
    left: 66%;
    margin-left: -32px;
    margin-bottom: 5px; }
  .itemBtn.case3 .sub-itemBtn.sub1 {
    bottom: -64px;
    left: 20%;
    margin-left: -32px;
    margin-bottom: 15px; }
  .itemBtn.case3 .sub-itemBtn.sub2 {
    bottom: -64px;
    left: 50%;
    margin-left: -32px; }
  .itemBtn.case3 .sub-itemBtn.sub3 {
    bottom: -64px;
    left: 80%;
    margin-left: -32px;
    margin-bottom: 15px; }
  .itemBtn.assessment {
    background-image: url(../images/assessment.png);
    top: 270px;
    left: 0;
    margin-left: 60px; }
    .itemBtn.assessment .sub-itemBtn {
      border-color: #36b4dc; }
      .itemBtn.assessment .sub-itemBtn a {
        color: #36b4dc; }
      .itemBtn.assessment .sub-itemBtn a:hover {
        background-color: #36b4dc; }
  .itemBtn.analysis {
    background-image: url(../images/analysis.png);
    top: 460px;
    left: 50%;
    margin-left: -160px; }
    .itemBtn.analysis .sub-itemBtn {
      border-color: #dc4a9b; }
      .itemBtn.analysis .sub-itemBtn a {
        color: #dc4a9b;
        text-shadow: 1px 1px #FFF; }
      .itemBtn.analysis .sub-itemBtn a:hover {
        background-color: #dc4a9b; }
  .itemBtn.information {
    background-image: url(../images/information.png);
    top: 270px;
    right: 0px;
    margin-right: 100px; }
    .itemBtn.information .sub-itemBtn {
      border-color: #4f4da1; }
      .itemBtn.information .sub-itemBtn a {
        color: #4f4da1; }
      .itemBtn.information .sub-itemBtn a:hover {
        background-color: #4f4da1; }

/**/

/*# sourceMappingURL=entrance.css.map */
