@mixin scrollbarStyles {
	&::-webkit-scrollbar{  
        background-color: transparent;
    }  
    &::-webkit-scrollbar-track {
        background-color: $white;
    } 
    &::-webkit-scrollbar-thumb {
		background: linear-gradient(to bottom, $secondary 0%, $primary-400 50%, $primary-600 100%);
        border-radius: 17px;
		border: 3px solid $white;
    } 
}

html, body{ 
	background-color: mix($primary-100, $gray-100, 25%);
    font-size: 14px;
    @media screen and (min-width: 768px) {
    font-size: 16px;    
    }
    @media screen and (min-width: 1200px) {
    font-size: 18px;    
    }
	@media screen and (min-width: 1600px) {
    font-size: 20px;    
    }
    letter-spacing: .05em;
	@include scrollbarStyles;
}

a{
    text-underline-offset: .25em;  
    word-break: break-all;
}
.form-check-input{
	background-size: 130% 130% !important;
}
.form-check-input[type="radio"]:checked{
	background-color: $white !important;
}
.form-required{
	color: $danger;
	position: absolute;
	transform: translate(-.5em, -.25em);
}
.icon-link {
	align-items: flex-start;
}
.link-scale{
	transition: .35s ease;
	&:hover, &:focus, &:active{
		transform: scale(1.1);
	}
}
.table{
	>thead {
		>tr{
			>th{
				font-weight: 400;
				background-color: $gray-200;	
			}
		}
	}
	>tbody {
		>tr{
			>th, >td{
				color: $gray-700;	
			}
		}
	}
}


.img-deafult{
	background-color: $gray-100;
	position: relative;
	&::after{
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-image: url("../img/logo-icon.svg");
		background-size: auto 50%;
		background-repeat: no-repeat;
		background-position: center center;
		filter: opacity(.5) grayscale(.5);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0; 
		z-index: 1;
	}
	img{
		z-index: 5;
	}
}

.bg-opacity-5 {
    --bs-bg-opacity: .05;
}
.bg-opacity-85 {
    --bs-bg-opacity: .85;
}
/*.bg-primary-gradient{
	background: linear-gradient(to right, $sky-400 0%, $sky-500 50%, $primary 100%);
}*/

.pagination-field{
    .pagination-input{
        display: inline;
        padding-right: .25rem;
    }
}

.btn-square{
	padding-left: 0;
	padding-right: 0;
	min-width: calc(1em*1.5 + #{$btn-padding-y}*2 + 2px); 
	min-height: calc(1em*1.5 + #{$btn-padding-y}*2 + 2px); 
	opacity: 1.0;
}

.logo{
	img{
		max-width: 100%;
		height: 3rem;
	}
}
.avater{
	background-color: $primary;
	color: #fff;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 2rem;
	height: 2rem;
	font-size: 2rem*.4;
	line-height: 1;
}

.divider-text{
	position: relative;
	display: flex;
	align-items: center;
	font-size: .8rem;
	color: $gray-600;
	&::before, &::after{ 
		content: "";
		display: block;
		flex: 1;
		width: auto;
		height: 1px;
		background-color: rgba($gray-600, .5);
	}
	&::before{
		margin-right: .5rem;
	}
	&::after{
		margin-left: .5rem;
	}
}

.login-divider{
	position: relative;
	display: flex;
	align-items: center;
	&::before, &::after{ 
		content: "";
		display: block;
		flex: 1;
		width: auto;
		height: 1px;
		background-color: rgba($white, .5);
	}
	&::before{
		margin-right: 1rem;
	}
	&::after{
		margin-left: 1rem;
	}
}

.breadcrumb{
	padding-top: map-get($spacers, 4);
	font-size: $font-size-sm;
	a{
		color: $body-secondary-color;
		&:hover, &:focus, &:active{
			color: $primary;
		}
	}
}


