footer{
	background: -webkit-linear-gradient(top left, $secondary 0%, $primary 100%);
	background: -o-linear-gradient(top left, $secondary 0%, $primary 100%);
	background: linear-gradient(to bottom right, $secondary 0%, $primary 100%); 
    .infomation{
		background-color: rgba($white, .125);
		color: #fff;
		font-size: .85rem;
		padding-top: 1rem;
		padding-bottom: 1rem;
		.logo{
			margin-bottom: 1.5rem;
		}
		.infomation-data{
			padding-left: 13%;
			margin-bottom: 1.5rem;
			p{
				margin-bottom: .25rem;	
			}
		}
		.infomation-nav{
			margin-top: .75rem;
			margin-bottom: .75rem;
			padding-left: 8.5%;
			@media screen and (min-width: 480px) {
			flex-wrap: nowrap;	
			}
			a{
				color: #fff;
				font-size: 1rem;
				text-align: left;
				white-space: nowrap;
				&:hover, &:focus, &:active{
					color: $tertiary;
				}
			}	
		}
		.infomation-link{
			font-size: 1rem;
			display: flex;
    		align-items: center;
			padding-left: $nav-link-padding-x;
			margin-top: .75rem;
			margin-bottom: .75rem;
			a{
				display: inline-block;
				width: 10rem;
				height: auto;
				margin-left: 1rem;
				border-radius: .5rem;
				overflow: hidden;
			}
		}
    }
    .copyright{
		color: #fff;
		font-size: .85rem;
        border-top: 1px solid rgba(#fff, .25);
		padding-top: .75rem;
		padding-bottom: .75rem;
		letter-spacing: $letter-spacing-sm;
		a{
			color: #fff;	
			margin-right: 1rem;
			letter-spacing: $letter-spacing-base;
			&:hover, &:focus, &:active{
				color: $tertiary;	
			}
		}
    }    
	
}
