.careerPlacement{
	$placement-color: $indigo;
	background: url("../img/careerPlacement/banner-bg.png"), 
		        linear-gradient(to bottom right, $pink 0%, $placement-color 25%, mix($white, $placement-color, 60%) 100%);
	background-position: top center;
	background-repeat: no-repeat;
	.banner{ 
		padding-top: map-get($spacers, 7);
		padding-bottom: map-get($spacers, 7);
		position: relative;
		&::before{
			content: "";
			display: block;
			width: 20%;
			height: 0;
			padding-bottom: 20%*(339/383);
			position: absolute;
			top: 1rem;
			left: 8.33333333%*.5;
			bottom: 0;
			background-image: url("../img/careerPlacement/banner-img1.png");
			background-position: center center;
			background-repeat: no-repeat;
			background-size: 100% 100%;	
			z-index: 2;
		}
		&::after{ 
			content: "";
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background-image: url("../img/careerPlacement/banner-img2.png"), url("../img/nice-hi.png");
			background-position: right 8.33333333%*1.75 center, right 8.33333333%*.5 center;
			background-repeat: no-repeat;
			background-size: auto 75%, auto 60%;	
			z-index: 1;
		}
		> *{
			position: relative;
			z-index: 2;
		}
		.banner-title{
			color: $white;
			font-size: 1.75rem;
			font-weight: 500;
			text-shadow: 1px 1px .125rem rgba($black, .5);
			text-align: center;
			margin-bottom: 0;
			> small{
				display: block;
				margin-top: .75rem;
				font-size: $font-size-base;
				line-height: $line-height-base;
				font-weight: 400;
				color: rgba($white, .85);
			}
		}
	}
	.search{
		padding-bottom: map-get($spacers, 7);
		.card{
			border-width: 0;
			box-shadow: $box-shadow-sm;
			background-color: rgba($white, .75);
			.card-header{
				border-bottom: 0;
				padding: $card-cap-padding-y*2 $card-cap-padding-x;
				.card-title{
					font-size: $font-size-base;
					font-weight: 500;
					margin-bottom: 0;
				}
			}
			.card-body{
				label{
					font-size: $font-size-sm;
				}
				.col-form-label{
					min-width: 8rem;
				}
				.search-subject-score{ 
					.col-form-label, .form-control{
						text-align: center;
						min-width: auto;
						width: 100%;
					}
				}
			}
			
			.form-control:focus, .form-select:focus{
				border-color: rgba($placement-color, $focus-ring-opacity);
    			box-shadow: 0 0 $focus-ring-blur $focus-ring-width rgba($placement-color, $focus-ring-opacity);
			}
			.form-check-input:focus{
				box-shadow: 0 0 $focus-ring-blur $focus-ring-width rgba($placement-color, $focus-ring-opacity);
			}
			.form-check-input:hover {
				+ .form-check-label{
					color: $placement-color;	
				}
			}
			.form-check-input:checked {
				background-color: $placement-color;
				border-color: $placement-color;	
				+ .form-check-label{
					color: $placement-color;	
				}
			}
			.form-check-input[type="radio"]:checked{
				background-image: escape-svg(url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='#{$placement-color}'/></svg>"));
			}
			
			.btn-group {
    			border-radius: 0;
				flex-wrap: wrap;
				.btn{
					border-radius: 0;
					margin-right: map-get($spacers, 1);  
					margin-bottom: map-get($spacers, 1);  
					border-color: $border-color;
					background-color: $gray-200;
					&.active{
						color: $white;
						border-color: $placement-color;
						background-color: $placement-color;
					}
					&:not(.active):hover{
						border-color: $placement-color;	
						color: $placement-color;	
					}
				}
				.btn-check{
					+ .btn{
						background-color: $white;
						padding-left: 0;
						padding-right: 0;
						width: calc( (100%/4) - #{map-get($spacers, 1)} );
						@media screen and (min-width: 1600px) {
						width: calc( (100%/8) - #{map-get($spacers, 1)} );	
						}
					}
					&:checked + .btn{
						border-color: $placement-color;
						background-color: $placement-color;
						color:$white;
					}
				}
			}
		}
		
		.search-subject-score{}
	}
	.result{
		padding-bottom: map-get($spacers, 7);
		background-color: $body-tertiary-bg;
		position: relative;
		z-index: 3;
		.result-info{
			padding-top: map-get($spacers, 4);
			padding-bottom: map-get($spacers, 4);
			background-color: $white;
			box-shadow: $box-shadow-sm;
			.avater {
				width: 5rem;
				height: 5rem;
				font-size: calc(5rem * .4);
				margin: 0 auto;
				background-color: $placement-color;
				color: $white;
			}
			.student-name {
				display: inline-block;
				font-size: $font-size-lg;
				margin-right: 1rem;
			}
            .student-school {
				display: inline-block;
				font-size: $font-size-sm;
				color: $body-secondary-color;
				
			}
            .student-grade {
				display: inline-block;
				font-size: $font-size-sm;
				color: $body-secondary-color;
				&::before{
					content: " · ";
				}
			}
            .student-category {
				display: inline-block;
				font-size: $font-size-sm;
				background-color: $blue-100;
				color: $blue;
				padding: 0 .5rem;
				border-radius: $border-radius-pill;
			}
            .student-batch {
				display: inline-block;
				font-size: $font-size-sm;
				background-color: $pink-100;
				color: $pink;
				padding: 0 .5rem;
				border-radius: $border-radius-pill;
			}
			.student-scoreTitle {
				font-size: $font-size-sm;
				color: $body-tertiary-color;
				text-align: right;
			}
			.student-score {
				text-align: right;
				color: $placement-color;
				line-height: $line-height-sm;
				label{
					font-size: $font-size-lg*2;	
					font-weight: 600;
				}
			}
			.student-scoreBatch {
				text-align: right;
				font-size: $font-size-sm*.875;
				color: $pink;
			}
		}
		.result-content{
			.scrollspy-nav{
				margin-top: map-get($spacers, 7);	
				margin-bottom: map-get($spacers, 7);	
				justify-content: center;
				&.sticky-top{
					top: calc(3.5rem + #{$navbar-brand-padding-y}*2 + #{$navbar-padding-y}*2) !important;
				}
				.nav-link {
					background-color: $white;
					margin: 0 map-get($spacers, 3);	
					border-radius: $border-radius-lg;
					box-shadow: $box-shadow-sm;
					&::before{
						content: "";
						display: inline-flex;
						vertical-align: middle;
						justify-content: center;
						align-items: center;
						font-family: "bootstrap-icons"; 
						font-weight: 900;
						width: 2rem;
						height: 2rem;
						border-radius: 100%;
						margin-right: .5em;
					}
					&.active{
						color: $white;
					}
				}
				@mixin navLinkStyles($color, $icon){
					color: $color;
					border-left: 5px solid $color;
					&::before{
						content: "#{$icon}";
						background-color: rgba($color, .25);
					}
					&:hover{
						background-color: tint-color($color, 90%);
					}
					&.active{	
						background-color: $color;
						color: $white;
						border-color: $white;
						filter: drop-shadow(-1px 0 $color);
						&::before{
							background-color: $white;
							color: $color;
						}
					}
				}
				.nav-link[href="#Sprint"]{
					@include navLinkStyles($Sprint-color, "\F46F"); //bi-lightning
				}
				.nav-link[href="#Stable"]{
					@include navLinkStyles($Stable-color, "\F270"); //bi-check2-circle
				}
				.nav-link[href="#Safe"]{
					@include navLinkStyles($Safe-color, "\F53F"); //bi-shield
				}
			}
			.scrollspy-content{
				.card{
					--bs-card-border-color: transparent;
					--bs-card-border-radius: var(--bs-border-radius-xl);
					box-shadow: $box-shadow-sm;
					margin-bottom: map-get($spacers, 4);
					font-size: $font-size-sm;
					.school-order{
						font-size: $font-size-lg;
						font-weight: 500;
						width: 2.5em;
						height: 2.5em;
						border-radius: $border-radius;
						display: flex;
						justify-content: center;
						align-items: center;
					}
					.school-name{
						font-size: $font-size-lg;
					}
					.school-region{
						color: $body-secondary-color;
	
					}
					.major-title{
						font-size: .875em;
						color: $body-tertiary-color;
						border-bottom: 1px solid $border-color;
						margin-bottom: .5rem;
						
					}
					.major-list {
						list-style: none;
						padding: 0;
						margin: 0;
						> li{
							margin-bottom: .25rem;
							>ul{
								list-style: none;
								padding: 0;
								margin: 0;
								>li{
									display: inline-block;
									background-color: $body-tertiary-bg;
									font-size: .875em;
									color: $body-secondary-color;
									margin-right: .25rem;
									margin-bottom: .25rem;
									border: 1px solid $border-color;
									border-radius: $border-radius-sm;
									padding: .125em .75em;
									small{
										margin-left: .25rem;
										color: $placement-color;
									}
								}
							}
							
						}
						
					}
				}
				@mixin cardStyles($color){
					border-left: 5px solid $color;	
					.school-order{
						background-color: rgba($color, .1);
						color: $color;
					}
					.school-region{
						&.matchRegion {
							color: $color;	
						}
					}
				}
				#Sprint .card{
					@include cardStyles($Sprint-color);
				}
				#Stable .card{
					@include cardStyles($Stable-color);
				}
				#Safe .card{
					@include cardStyles($Safe-color);
				}
			}
		}
		.result-remark{ 
			font-size: $font-size-sm;
			color: $body-tertiary-color;
			text-align: right;
			margin-bottom: .25rem;
			[class*="match"]{
				margin: 0 .5rem;
				&::before{
					content: "";
					display: inline-block;
					vertical-align: middle;
					width: calc(1rem/.875);
					height: calc(1rem/.875);
					border-radius: $border-radius;
					background-repeat: no-repeat;
					background-size: 75%;
					background-position: center;
					margin-right: .25em;
				}
			}
			.matchRegion{
				display: inline-block;
				&::before{
					background-color: $purple-100;
					background-image: escape-svg(url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640'%3E%3C!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--%3E%3Cpath fill='#{$purple}' d='M128 252.6C128 148.4 214 64 320 64C426 64 512 148.4 512 252.6C512 371.9 391.8 514.9 341.6 569.4C329.8 582.2 310.1 582.2 298.3 569.4C248.1 514.9 127.9 371.9 127.9 252.6zM320 320C355.3 320 384 291.3 384 256C384 220.7 355.3 192 320 192C284.7 192 256 220.7 256 256C256 291.3 284.7 320 320 320z'/%3E%3C/svg%3E"));
				}
			}
			.matchTA{
				display: inline-block;
				&::before{
					background-color: $orange-100;
					background-image: escape-svg(url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640'%3E%3C!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--%3E%3Cpath fill='#{$orange}' d='M184 120C184 89.1 209.1 64 240 64L264 64C281.7 64 296 78.3 296 96L296 544C296 561.7 281.7 576 264 576L232 576C202.2 576 177.1 555.6 170 528C169.3 528 168.7 528 168 528C123.8 528 88 492.2 88 448C88 430 94 413.4 104 400C84.6 385.4 72 362.2 72 336C72 305.1 89.6 278.2 115.2 264.9C108.1 252.9 104 238.9 104 224C104 179.8 139.8 144 184 144L184 120zM456 120L456 144C500.2 144 536 179.8 536 224C536 239 531.9 253 524.8 264.9C550.5 278.2 568 305 568 336C568 362.2 555.4 385.4 536 400C546 413.4 552 430 552 448C552 492.2 516.2 528 472 528C471.3 528 470.7 528 470 528C462.9 555.6 437.8 576 408 576L376 576C358.3 576 344 561.7 344 544L344 96C344 78.3 358.3 64 376 64L400 64C430.9 64 456 89.1 456 120z'/%3E%3C/svg%3E"));
				}
			}
			.matchTI{
				display: inline-block;
				&::before{
					background-color: $red-100;
					background-image: escape-svg(url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640'%3E%3C!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--%3E%3Cpath fill='#{$red}' d='M305 151.1L320 171.8L335 151.1C360 116.5 400.2 96 442.9 96C516.4 96 576 155.6 576 229.1L576 231.7C576 343.9 436.1 474.2 363.1 529.9C350.7 539.3 335.5 544 320 544C304.5 544 289.2 539.4 276.9 529.9C203.9 474.2 64 343.9 64 231.7L64 229.1C64 155.6 123.6 96 197.1 96C239.8 96 280 116.5 305 151.1z'/%3E%3C/svg%3E"));
				}
			}
		}
		.card.matchRegion{
			.school-name{
				&::after{
					content: "";
					display: inline-block;
					vertical-align: middle;
					width: calc(1em/.875);
					height: calc(1em/.875);
					border-radius: $border-radius;
					background-repeat: no-repeat;
					background-size: 75%;
					background-position: center;
					margin-left: .25em;
					background-color: $purple-100;
					background-image: escape-svg(url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640'%3E%3C!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--%3E%3Cpath fill='#{$purple}' d='M128 252.6C128 148.4 214 64 320 64C426 64 512 148.4 512 252.6C512 371.9 391.8 514.9 341.6 569.4C329.8 582.2 310.1 582.2 298.3 569.4C248.1 514.9 127.9 371.9 127.9 252.6zM320 320C355.3 320 384 291.3 384 256C384 220.7 355.3 192 320 192C284.7 192 256 220.7 256 256C256 291.3 284.7 320 320 320z'/%3E%3C/svg%3E"));
				}
			}
		}
		.major-list{
			> li{
				&[class*="match"]{
					>span{
						&::after{
							content: "";
							display: inline-block;
							vertical-align: middle;
							width: calc(1em/.875);
							height: calc(1em/.875);
							border-radius: $border-radius;
							background-repeat: no-repeat;
							background-size: 75%;
							background-position: center;
							margin: .25em;
						}
					}
				}
				&.matchTA{
					>span{
						&::after{
							background-color: $orange-100;
							background-image: escape-svg(url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640'%3E%3C!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--%3E%3Cpath fill='#{$orange}' d='M184 120C184 89.1 209.1 64 240 64L264 64C281.7 64 296 78.3 296 96L296 544C296 561.7 281.7 576 264 576L232 576C202.2 576 177.1 555.6 170 528C169.3 528 168.7 528 168 528C123.8 528 88 492.2 88 448C88 430 94 413.4 104 400C84.6 385.4 72 362.2 72 336C72 305.1 89.6 278.2 115.2 264.9C108.1 252.9 104 238.9 104 224C104 179.8 139.8 144 184 144L184 120zM456 120L456 144C500.2 144 536 179.8 536 224C536 239 531.9 253 524.8 264.9C550.5 278.2 568 305 568 336C568 362.2 555.4 385.4 536 400C546 413.4 552 430 552 448C552 492.2 516.2 528 472 528C471.3 528 470.7 528 470 528C462.9 555.6 437.8 576 408 576L376 576C358.3 576 344 561.7 344 544L344 96C344 78.3 358.3 64 376 64L400 64C430.9 64 456 89.1 456 120z'/%3E%3C/svg%3E"));
						}	
					}
				}
				&.matchTI{
					>span{
						&::after{
							background-color: $red-100;
							background-image: escape-svg(url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 640'%3E%3C!--!Font Awesome Free v7.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2026 Fonticons, Inc.--%3E%3Cpath fill='#{$red}' d='M305 151.1L320 171.8L335 151.1C360 116.5 400.2 96 442.9 96C516.4 96 576 155.6 576 229.1L576 231.7C576 343.9 436.1 474.2 363.1 529.9C350.7 539.3 335.5 544 320 544C304.5 544 289.2 539.4 276.9 529.9C203.9 474.2 64 343.9 64 231.7L64 229.1C64 155.6 123.6 96 197.1 96C239.8 96 280 116.5 305 151.1z'/%3E%3C/svg%3E"));
						}	
					}
				}
			}
		}
	}
}