.index{
	width: 100%;
	overflow-x: hidden;
	.hero{
		margin-bottom: map-get($spacers, 3);  
		.hero-carousel{
			.item{ 
				width: 100%;
				height: 0;
				padding-bottom: 640/1920*100%;
				position: relative;
				.item-bg {
					position: absolute;
					width: 100%;
					height: 100%;
					object-fit: cover;  
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
				}
			}
			.owl-nav{
				.owl-prev, .owl-next{
					width: 10%;
					height: 100%;
					position: absolute;
					top: 0;
					border: 0;
					display: flex;
					justify-content: center;
					align-items: center;	
					font-size: 2rem !important;
					color: rgba($black, .65) !important;
					&:hover{
						color: rgba($primary, 1.0) !important;
						text-shadow: 1px  1px  .75rem rgba($white, .5),
									-1px -1px  .75rem rgba($white, .5),
									-1px  1px  .75rem rgba($white, .5),
									 1px -1px  .75rem rgba($white, .5);
					}
				}
				.owl-prev{ 
					left: 0;
					&:hover{
						background: linear-gradient(to right,  rgba($black, .15) 0%,rgba($black, 0) 100%); 
					}
				}
				.owl-next{
					right: 0;
					&:hover{
						background: linear-gradient(to right,  rgba($black, 0) 0%,rgba($black, .15) 100%); 
					}
				}
			}
			.owl-dots {
				position: absolute;
				width: 100%;
				height:  auto;
				left: 0;
				right: 0;
				top: 100%;
				display: flex;
				flex-direction: row;
				align-items: center;
				justify-content: center; 
				padding-top: 1rem;
				padding-bottom: 1rem;
				.owl-dot {
					position: relative;
					width: 2rem;
					height: .25rem;
					margin: 0 .25rem;
					background-color: rgba($black, .25);	
					transition: .5s;
					&:hover{
						background-color: rgba($primary, .75);
					}
					&.active {
						background-color: $primary;
						box-shadow: 0 0 .25rem rgba($white, .75);
					}
				} 
			}
		}
		.hero-ip{ 
			width: 15%;
			height: auto;
			position: absolute;
			bottom: 1.5rem;
			right: 2rem;
			z-index: 2;
			animation-duration: 3s;
			img{
				max-width: 100%;
				max-height: 100%;
			}
		}	
	}
	.news{
		.list-group{
			.list-group-item{
				color: $body-secondary-color;
				border-color: transparent;
				padding: ($spacer * .25) 0;
				white-space: nowrap; 
				overflow: hidden;
    			text-overflow: ellipsis;
				&:hover, &:focus, &:active{
					color: $primary;
				}
			}
		}
		.news-tag{
			margin-right: map-get($spacers, 1);  
		}
	}
	.feature{
		background-color: rgba($cyan-100, .5);
		padding-top: map-get($spacers, 4);  
		padding-bottom: map-get($spacers, 4);  
		.feature-title{
			font-weight: 700;
			color: $primary-700;
			line-height: $line-height-base;
			.highlight{
				background: -webkit-linear-gradient(transparent 0%, transparent 50%, rgba($tertiary,1) 51%, rgba($tertiary,1) 100%);
				background: -o-linear-gradient(transparent 0%, transparent 50%, rgba($tertiary,1) 51%, rgba($tertiary,1) 100%);
				background: linear-gradient(transparent 0%, transparent 50%, rgba($tertiary,1) 51%, rgba($tertiary,1) 100%);   
				padding: 0 0.325rem; 
			}
		}
		.card{
			border-width: 0;
			background-color: transparent;
			filter: drop-shadow($box-shadow-sm);
			.card-body{
				position: relative;
				background-color: $body-bg;
				border-radius: $border-radius;
				.card-title{
					font-size: $font-size-base * 1.5;
					text-align: center;
					font-weight: 500;
					color: $primary;
				}
				.card-text{
					color: $body-secondary-color;
				}
			}
		}
		.feature-icon{
			position: absolute;
			top: 0;
			right: 0;
			transform: translate( $card-spacer-x*-1, -50% );
			width: 5rem;
			height: 5rem;
			display: none;//flex;
			align-items: center;
			justify-content: center;
			color: $white;
			background: $cyan;
			border-radius: 100%;
			transition: .5s;
			border: .4rem solid $card-bg;
		}
	}
	.join{
		background-color: rgba($cyan-100, .5);
		background-image: url("../img/index/join-bg.png");
		background-position: center bottom;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		padding-top: map-get($spacers, 5);  
		padding-bottom: map-get($spacers, 5);  
		position: relative;
		.join-title{
			color: $primary-600;
			font-size: $h1-font-size*1.1;
			font-weight: 700;
			text-align: center;
			small{
				display: block;
				font-size: 50%;
				font-weight: 400;
				margin-top: 1rem;
				[class*="star"]{
					color: $cyan;
					filter: brightness(1.1);
				}
			}
		}
		&::before{ 
			content: "";
			display: block;
			position: absolute;
			bottom: 6%;
			left: 8.33333333%;
			width: 560/1920*100%;
			height: 0;
			padding-bottom: (560/1920*100%)*(320/560);
			background-image: url("../img/index/join-img.png");
			background-repeat: no-repeat;
			background-size: cover; 
			background-position: center;
		}
		&::after{
			content: "";
			display: block;
			position: absolute;
			bottom: 6%;
			right: 16.66666667%;
			width: 330/1920*100%;
			height: 0;
			padding-bottom: (330/1920*100%)*(432/476);
			background-image: url("../img/nice-hi.png");
			background-repeat: no-repeat;
			background-size: cover; 
			background-position: center;
		}
		.join-btn{
			position: relative;
			overflow: hidden;
			&::after{
				content: "";
				display: block;
				width: 20%;
				height: 300%;
				position: absolute;
				top: 0;
				left: -25%;
				background: linear-gradient(to right, rgba($white, 0)    0%,
													  rgba($white, 0.3) 20%,
													  rgba($white, 0.9) 45%,
													  rgba($white, 1.0) 50%,
													  rgba($white, 0.9) 55%,
													  rgba($white, 0.3) 80%,
													  rgba($white, 0)  100%);
				mix-blend-mode: plus-lighter;
				transform: rotate(45deg);
				transform-origin: right top;
				opacity: .5;
				animation: AN-btnFlash 3.5s ease-in-out infinite;
			}
		}
	}
}

@keyframes AN-btnFlash { 
	0% { top: 0; left: -25%; } 
  100% { top: 0; left: 125%; } 
}