/*ornament: blue*/
/*ornament: orange*/
/* ******* ******* ******* ******* ******* ******* ******* */
/* ******* ******* ******* ******* ******* ******* ******* */
/* ******* ******* ******* ******* ******* ******* ******* */
p {
  text-indent: 2em; }

.news-block {
  width: 33.33%;
  /*	height:300px;*/
  overflow: hidden;
  padding: 10px;
  margin: 10px 0px;
  float: left; }
  .news-block .news-pic > img {
    width: 100%;
    height: 200px;
    border: 5px solid #FFF;
    border-radius: 4px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), -2px -2px 5px rgba(0, 0, 0, 0.1), -2px 2px 5px rgba(0, 0, 0, 0.1), 2px -2px 5px rgba(0, 0, 0, 0.1); }
  .news-block .news-content .news-date {
    color: #999;
    margin-top: 5px; }
  .news-block .news-content .news-title {
    width: 100%;
    overflow: hidden;
    font-size: 18px;
    line-height: 1.6em;
    height: 1.6em;
    color: #a50053; }
  .news-block .news-content .news-text {
    line-height: 1.6em;
    height: 8em;
    overflow: hidden; }

.newsDetail {
  padding: 10px 0px; }
  .newsDetail .news-date {
    color: #999;
    line-height: 1.6em; }
  .newsDetail .news-title {
    font-size: 22px;
    line-height: 1.6em;
    color: #a50053; }
  .newsDetail .news-pic {
    margin-bottom: 10px; }
    .newsDetail .news-pic > img {
      width: 100%;
      border-radius: 4px; }
  .newsDetail .news-text {
    font-size: 16px;
    line-height: 1.6em; }

.sys-block {
  padding: 10px 0px; }
  .sys-block h1 {
    color: #0b903d; }
  .sys-block .sys-text {
    font-size: 18px;
    line-height: 1.6em; }

.inquire-block {
  padding: 10px 0px; }
  .inquire-block table.withNoBorder th, .inquire-block table.withNoBorder td {
    border: none; }

.inquireResult-block {
  padding: 10px 0px; }
  .inquireResult-block .inquireResult-data {
    padding-bottom: 10px;
    border-bottom: 2px solid #BF0060;
    margin-bottom: 20px; }
    .inquireResult-block .inquireResult-data table td {
      background-image: url(../images/spotBorder.png);
      background-repeat: no-repeat;
      background-position: left center;
      text-indent: 25px;
      font-size: 16px; }
      .inquireResult-block .inquireResult-data table td.none {
        background-image: none; }
  .inquireResult-block .pro {
    border-bottom: 1px solid #E0E0E0; }
    .inquireResult-block .pro .pro-field {
      width: 25.2%;
      float: left;
      padding: 6px 5px;
      border-right: 1px solid #E0E0E0; }
    .inquireResult-block .pro .pro-recommend {
      width: 74.8%;
      float: left;
      border-left: 1px solid #E0E0E0;
      padding: 6px 5px;
      margin-left: -1px; }
      .inquireResult-block .pro .pro-recommend > span {
        display: inline-block; }
        .inquireResult-block .pro .pro-recommend > span:after {
          content: ",";
          margin: 0px 8px; }
        .inquireResult-block .pro .pro-recommend > span:last-child:after {
          content: ""; }
  .inquireResult-block .pro:last-child {
    border-bottom: none; }

.blockLine {
  border: 1px solid #ccc;
  padding: 5px;
  margin: 15px 5px; }

.btnToSection {
  text-decoration: none;
  color: inherit;
  display: inline-block; }

.bgRed {
  background-color: #ffebeb; }

.bgGreen {
  background-color: #ffffda; }

.bgBlue {
  background-color: #ebf7ff; }

/*# sourceMappingURL=analysis.css.map */
