html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: middle; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-weight: normal; }

* {
  box-sizing: border-box; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both;
  /* For IE 6/7 (trigger hasLayout) */ }

.clearfix {
  zoom: 1; }

/* ******* ******* ******* ******* ******* ******* ******* */
html {
  position: relative;
  min-height: 100%;
  background-color: #fff;
  background-image: url(../images/APP/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  html.indexBg {
    background-image: url(../images/APP/indexBg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }
  html.Endpage {
    background-image: url(../images/APP/EndpageBg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; }

body {
  margin-bottom: 46px;
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif, "Microsoft YaHei", "SimSun";
  background-color: transparent !important;
  line-height: 1.4em;
  font-size: 20px; }

html.indexBg body,
html.Endpage body {
  margin-bottom: 0px; }

.header {
  /*background-image: url(../images/APP/headerBg.jpg);
  background-repeat:repeat-x;
  background-size:auto 100%;*/
  padding-top: 12px;
  padding-bottom: 12px; }

.main {
  background-image: url(../images/APP/mainBg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%; }
  .main.test {
    background-image: none;
    background-color: #FFF; }
  .main.Endpage {
    background-image: none; }

html.indexBg .main,
html.Endpage .main {
  background-image: none; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 46px;
  background-color: #b84619;
  padding: 5px 0px 5px 0px; }

html.indexBg .footer {
  background-image: none;
  background-color: transparent;
  text-align: center;
  font-size: 0.8em;
  color: #FFF;
  height: auto;
  font-weight: 700;
  line-height: 1.2em;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.25); }

/* ******* ******* ******* ******* ******* ******* ******* */
/*UI*/
@media screen and (min-width: 1200px) {
  .container {
    width: 970px; } }
.img-responsive.forIE {
  width: 100% !important; }

.table-forCenter {
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0px;
  margin: 0px;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 100%; }

.table-forMainCenter {
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0px;
  margin: 0px;
  text-align: center;
  vertical-align: middle;
  width: 100%; }

.btn-ok {
  display: block;
  float: right;
  width: 90px;
  height: 36px;
  background-image: url(../images/aPP/btn1_1.gif);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  text-indent: -9999px;
  overflow: hidden; }
  .btn-ok:hover {
    background-position: 0px -40px; }

.btn-check {
  display: block;
  background-image: url(../images/btn3.gif);
  width: 90px;
  height: 36px;
  text-indent: -9999px;
  overflow: hidden; }

.table-Qnum td {
  vertical-align: middle;
  line-height: 1em;
  padding: 0px; }

.Qnum {
  color: #b84619;
  font-weight: bold;
  font-size: 3vw;
  white-space: nowrap;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.75); }
  @media screen and (min-width: 768px) {
    .Qnum {
      font-size: 1.2em; } }
  .Qnum > label {
    display: inline-block;
    color: #622e21;
    width: 2em;
    text-align: center; }

.title, .topic {
  padding: 5px 15px;
  background-color: #fcf3b0; }
  .title > b, .topic > b {
    font-weight: bold; }

.text-right {
  text-align: right; }

/* ******* ******* ******* ******* ******* ******* ******* */
/*Default-APP.~*/
.img-loginHeader {
  margin-top: 10px;
  margin-bottom: 10px; }

.login-bg .table-login {
  width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .login-bg .table-login td {
    padding: 4px 0px; }
  .login-bg .table-login .loginInput {
    width: 100%;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #FFF; }
    .login-bg .table-login .loginInput::placeholder {
      color: #999; }
  .login-bg .table-login .loginBtn {
    display: block;
    width: 91px;
    height: 91px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/APP/loginBtn.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-color: transparent;
    border-color: transparent; }
    .login-bg .table-login .loginBtn:hover {
      background-position: 0px -100px; }

@media screen and (min-width: 500px) {
  .login-bg .table-login {
    width: 60%; } }
@media screen and (min-width: 768px) {
  .img-loginHeader {
    float: left; }

  .login-bg {
    width: 644px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 10% 0px 18%; }
    .login-bg .table-login {
      width: 100%; }
      .login-bg .table-login .loginBtn {
        float: left;
        margin-top: -5px;
        margin-left: -15px; } }
/* ******* ******* ******* ******* ******* ******* ******* */
/*login2.~*/
.img-data {
  margin-top: 10px; }

.dataBlock {
  background-color: #FFF;
  border: 2px solid #3a1b13;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px; }

.table-login2 {
  width: 100%; }
  .table-login2 td {
    padding: 5px; }
  .table-login2 tbody th {
    padding: 5px;
    text-align: right;
    font-weight: 700;
    width: 42%; }
  .table-login2 tbody td {
    padding: 5px;
    text-align: left; }

@media screen and (max-height: 530px) {
  .img-data {
    display: none; }

  .table-login2 tr.hidden-landscape td {
    display: none; }
  .table-login2 br {
    display: none; } }
/* ******* ******* ******* ******* ******* ******* ******* */

/*# sourceMappingURL=styles-APP.css.map */
