.mapBlock ul , .mapBlock li{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.mapBlock{
	> dd{
		> ul{
			margin-left: 15px;
			margin-right: 15px;
			margin-top: 20px;
			
			> li{ 
				border:1px solid #bfe092;
				background-color: #bfe092;
				color: #007b42;
				font-weight:700;	
				margin-bottom:20px;
				text-indent:5px;
				line-height:2em;
			}
		}
	}
	
	> dd > ul > li{
		> ul{
			background-color:#FFF;
			zoom:1;
			&:before,&:after {
				content:"";
				display:table;
			}
			&:after {
				clear:both; /* For IE 6/7 (trigger hasLayout) */
			}
			
			> li{
				width:100%;
				border:1px solid #bfe092;
				font-weight:bold;
				color:#333;
				background-image:url(../images/lispot-black.gif);
				background-repeat:no-repeat;
				background-position:9px 14px;
				text-indent:20px;
				@media screen and (min-width: 1200px) { width:50%;float:left;}
			}
		}
	}
	
	> dd > ul > li > ul > li{
		> ul{
			zoom:1;
			&:before,&:after {
				content:"";
				display:table;
			}
			&:after {
				clear:both; /* For IE 6/7 (trigger hasLayout) */
			}
			> li{
				@media screen and (min-width: 992px) { float:left; padding-left:15px;}
				> a{
					display:block;
					color:#888 !important;
					font-weight:normal;
					text-decoration:none;
					@media screen and (min-width: 992px) { 
					text-indent:0px;
					padding:0px 5px;
					}
					&:hover{
						color: #e5863f !important;
						background-color:#e9f8fe;
					}
				}
			}
		}
	}
}